div h3 {
    font-size: 1.75em;
    color: #444649;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

div p,
div ul {
    font-weight: 400;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.25em;
    color: rgb(74, 74, 74);
    font-family: 'Raleway', sans-serif;
}

div p a,
div ul li a {
    text-decoration: none;
    color: rgb(0, 154, 218);
}

div p a:hover, div p a:active,
div ul li a:hover, div ul li a:active {
    text-decoration: underline;
}

#website-content {
    margin: 0 auto;
    max-width: 800px;
}

#website-content div {
    border-bottom: 1px solid #444649;
}

#website-content div:first-of-type {
    padding-top: 1em;
}

#website-content div:last-of-type {
    padding-bottom: 1em;
    border-bottom: none;
}

@media screen and (max-width: 500px) {
    #website-content {
        padding: 1em;
    }

    #website-content div:first-of-type {
        padding-top: 0em;
    }

    #website-content div h3 {
        margin-top: 0.5em;
    }

    #website-content div:last-of-type {
        padding-bottom: 0em;
    }
}
