html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

div h3 {
    color: #444649;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: 0.5em;
    font-family: 'Raleway', sans-serif;
}

div p,
div ul {
    color: #666;
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}

div p a,
div ul li a {
    text-decoration: none;
    color: rgb(0, 154, 218);
}

div p a:hover, div p a:active,
div ul li a:hover, div ul li a:active {
    text-decoration: underline;
}

#website-content {
    margin: 0 auto;
    max-width: 800px;
}

#website-content > div {
    margin-bottom: 3em;
}

#website-content > div:first-of-type {
    padding-top: 1em;
}

#website-content > div:last-of-type {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

li {
    /* Better readability on mobile */
    text-align: left !important;
}

@media screen and (max-width: 800px) {
    #website-content > div {
        margin-left: 1em;
        margin-right: 2em;
    }
}

@media screen and (max-width: 500px) {
    #website-content {
        padding: 1em;
    }

    #website-content > div:first-of-type {
        padding-top: 0em;
    }

    #website-content > div h3 {
        margin-top: 0.5em;
    }

    #website-content > div:last-of-type {
        padding-bottom: 0em;
    }
}
