#testimonials q {
    color: #666;
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}

#testimonials .testimonial-author {
    text-indent: 2em;
    text-align: left;
}
