#welcome-message {
    font-weight: 300;
    min-height: 60vh;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;

    /* TODO Remove this when adding particles */
    background-color: #252934;
}

#welcome-message-container {
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0; left: 0; bottom: 0; right: 0;
}

#welcome-message h1 {
    font-size: 4.5em;
    font-weight: 400;
    font-family: 'Megrim', cursive;
}

#welcome-message #employment-status {
    color: #e31b6d;
}

#particles-js {
    max-height: 60vh;
    max-width: 100vw;
    
}

