<div id="contact-me">
    <h3>Contact Me</h3>
    <p>
        You can reach me via email. 
        I also have a LinkedIn profile for networking-purposes, but I rarely interact with it. 
        You can see some of the code I've written in GitHub.
        <ul>
            <li>Follow me on Twitter <sup>[1]</sup></li>
            <li>Connect with me on LinkedIn</li>
            <li>Email me directly at michael@bassi.li</li>
            <li>Follow me on GitHub to see code I've written</li>
        </ul>
        <sup>[1]</sup> My Twitter account is reserved for journalism purposes. 
        However, I won't object if you want to follow me... It's mostly journalism promo. 
    </p>
</div>