<div id="contact-me">
    <h3>Contact Me</h3>
    <p>
        You can reach me via email. 
        I also have a LinkedIn profile for networking-purposes, but I rarely interact with it. 
        You can see some of the code I've written in GitHub.
    </p>
    <ul>
        <li>Follow me on <a href="https://twitter.com/michaelbassili">Twitter</a> <sup>[1]</sup></li>
        <li>Connect with me on <a href="https://www.linkedin.com/in/michael-bassili/">LinkedIn</a></li>
        <li>Email me directly at <a href="mailto:michael@bassi.li">michael@bassi.li</a></li>
        <li>Follow me on <a href="https://github.com/LaputanMachines">GitHub</a> to see code I've written</li>
    </ul>
    <p>
        <sup>[1]</sup> My Twitter account is reserved for journalism purposes. 
        However, I won't object if you want to follow me... It's mostly journalism promo. 
    </p>
</div>