<div id="professional-resume">
    <h3>Professional Resume</h3>
    <p>
        Please <a href="{{ site.url }}/assets/resume/resume.pdf">click here to view and download my resume</a>. 
        Note that this document lacks personal contact information (e.g. cell phone number) for obvious reasons.
        Please email me to request any references you may need. 
        I am <span id="resume-employment-status"">{{ site.employment_status| downcase }}</span> work, as of {{ "now" | date: "%Y-%m-%d" }}.
    </p>
</div>