<div id="software-projects">
    <h3>Software Projects</h3>
    <p>
        Here are some personal projects I've completed. 
        Each one has a link to its source code on <a href="https://github.com/LaputanMachines">GitHub</a>. 
        The list is sorted reverse-chronologically. 
    </p>
    <div id="project-container">
        <div class="project-entry">
            <div class="project-image-container">
                <a class="project-link" href="https://simplescript.bassi.li">
                    <img class="project-image" src="{{ site.url }}/assets/portfolio/simplescript.png" alt="Promotional material for the SimpleScript programming language">
                </a>
            </div>
            <div class="project-info-container">
                <h4 class="project-title">SimpleScript</h4>
                <p class="project-description">
                    An interpreted programming language written in Python.
                    Grammar is based on the BASIC programming language. 
                    SimpleScript is built with expression parsing in mind. 
                    Language can be considered Turing complete.
                </p>
                <div class="project-link-container">
                    <a href="https://simplescript.bassi.li">View Docs</a>
                    <a href="https://github.com/LaputanMachines/SimpleScript">Source Code</a>
                </div>
            </div>
        </div>
    </div>
    <p>
        You can view the complete list of <a href="https://github.com/LaputanMachines?tab=repositories">GitHub repositories</a> for more.  
    </p>
</div>
