<div id="software-projects">
    <h3>Software Projects</h3>
    <p>
        Here are some personal projects I've completed. 
        Each one has a link to its source code on <a href="https://github.com/LaputanMachines">GitHub</a>. 
        The list is not sorted in any particular order.
        Want more information on a project? Send me an email!
    </p>
    <div id="project-container">
        
        <!-- OpenGL Rendering Engine -->
        <div class="project-entry">
            <div class="project-image-container">
                <a class="project-link" href="https://opengl.bassi.li/">
                    <img class="project-image" src="{{ site.url }}/assets/portfolio/opengl-rendering-engine.png" alt="Promotional material for the OpenGL rendering engine">
                </a>
            </div>
            <div class="project-info-container">
                <h4 class="project-title">OpenGL Rendering Engine</h4>
                <p class="project-description">
                    An OpenGL rendering engine and rasterizer written in pure C++. 
                    Does not use any existing graphics libraries. 
                    Implements multiple shaders, normalmapping, occlusion, and vector rasterization.
                </p>
                <div class="project-link-container">
                    <a href="https://opengl.bassi.li/">View Docs</a>
                    <a href="https://github.com/LaputanMachines/RenderingEngine">Source Code</a>
                </div>
            </div>
        </div>

        <!-- SimpleScript Language -->
        <div class="project-entry">
            <div class="project-image-container">
                <a class="project-link" href="https://simplescript.bassi.li">
                    <img class="project-image" src="{{ site.url }}/assets/portfolio/simplescript.png" alt="Promotional material for the SimpleScript programming language">
                </a>
            </div>
            <div class="project-info-container">
                <h4 class="project-title">Interpreted Programming Language</h4>
                <p class="project-description">
                    SimpleScript is an interpreted programming language written in Python.
                    Grammar is based on the BASIC programming language. 
                    SimpleScript is built with expression parsing in mind. 
                    Language can be considered Turing complete.
                </p>
                <div class="project-link-container">
                    <a href="https://simplescript.bassi.li">View Docs</a>
                    <a href="https://github.com/LaputanMachines/SimpleScript">Source Code</a>
                </div>
            </div>
        </div>

    </div>
    <p>
        You can view the complete list of <a href="https://github.com/LaputanMachines?tab=repositories">GitHub repositories</a> for more.  
        Heard of another project of mine not seen here?
        Send me an email for links to secret side projects!
    </p>
</div>
