<div id="testimonials">
    <h3>Testimonials</h3>
    <q>
        He commits and delivers. 
        He is an MVP wherever he goes and whatever he does. 
        His professional work and side projects are testaments of his excellence in time management and commitment to learning. 
    </q>
    <br>
    <p class="testimonial-author">
        &mdash;Former Supervisor, <a href="https://deltacontrols.com/">Delta Controls Inc.</a>
    </p>
    <q>
        Michael constantly strives to better himself and contribute as much as he can back to the team. 
        His devotion to continuous learning and self-improvement allowed him to expand his knowledge and experience level, which ultimately enabled him to excel and become a very strong team member.
    </q>
    <br>
    <p class="testimonial-author">
        &mdash;Former Team Lead, <a href="https://deltacontrols.com/">Delta Controls Inc.</a> 
    </p>
    <q>
        Michael proved to be a valuable asset throughout his with with Delta Controls. 
        He facilitated the work of his team members by building numerous tools and services. 
        He’s passionate, driven, and dedicated. 
        Michael would be an excellent addition to any organization, in any role.
    </q>
    <br>
    <p class="testimonial-author">
        &mdash;Former Line of Business Lead, <a href="https://deltacontrols.com/">Delta Controls Inc.</a> 
    </p>
</div>