<div id="welcome-message">
    <div id="particles-js"></div>
    <div id="welcome-message-container">
        <div id="welcome-message-text">
            <h1 id="name">Michael Bassili</h1>
            <h2 id="position">I'm a Software Developer</h2>
            <hr>
            <h2 id="availability">I'm Currently <span id="employment-status">{{ site.employment_status }}</span> Work</h2>
        </div>
    </div>
    {% include navbar.html %}
</div>
<script src="js/particles.js"></script>
<script src="js/app.js"></script> 